<launch>
  <!-- Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ar_nav)/saved_maps.yaml" />
  
  <!-- AR Tag Detection -->
  <include file="$(find ar_nav)/launch/ar_tracking.launch" />

  <!-- AR Goal Publisher Node (Python) -->
  <node name="ar_goal_publisher" pkg="ar_nav" type="ar_publisher.py" output="screen">
    <param name="use_sim_time" value="false"/> <!-- Adjust if simulation -->
  </node>
  <node name="main_nav" pkg="ar_nav" type="main_nav.py" output="screen"></node>
</launch>
